# Chapter 2
## Download data and put it into hdfs

In [1]:
#!curl -L -o ./data/donation.zip http://bit.ly/1Aoywaq

## Import packages and create a session

In [2]:
import gc
import logging
import subprocess
from datetime import datetime
from pathlib import Path

import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
# from pytz import timezone
# from pytz import utc

In [3]:
EXECUTOR_MEMORY = "2g"
EXECUTOR_CORES = 2
EXECUTORE_INSTANCES = 2
DRIVER_MEMORY = "2g"
DRIVER_MAX_RESULT_SIZE = "2g"

In [4]:
# Yarn resource manager
# spark = (
#     SparkSession.builder.appName(f"Chapter 2")
#     .master("yarn")
#     .config("spark.executor.memory", EXECUTOR_MEMORY)
#     .config("spark.executor.cores", EXECUTOR_CORES)
#     .config("spark.executor.instances", EXECUTORE_INSTANCES)
#     .config("spark.driver.memory", DRIVER_MEMORY)
#     .config("spark.driver.maxResultSize", DRIVER_MAX_RESULT_SIZE)
#     .config("spark.kryoserializer.buffer.max", "1024m")
#     .config("spark.sql.warehouse.dir", datapath)
#     .enableHiveSupport()
#     .getOrCreate()
# )

# spark.sparkContext.getConf().getAll()

# Standlone mode
spark = (
    SparkSession.builder.appName(f"Chapter 2")
    .master("local[*]")
    .config("spark.kryoserializer.buffer.max", "1024m")
#     .config("spark.sql.warehouse.dir", datapath)
    .enableHiveSupport()
    .getOrCreate()
)

spark.sparkContext.getConf().getAll()

[('spark.driver.port', '43751'),
 ('spark.driver.extraJavaOptions',
  '"-Dio.netty.tryReflectionSetAccessible=true"'),
 ('spark.kryoserializer.buffer.max', '1024m'),
 ('spark.executor.id', 'driver'),
 ('spark.app.name', 'Chapter 2'),
 ('spark.executor.extraJavaOptions',
  '"-Dio.netty.tryReflectionSetAccessible=true"'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1610558375734'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.driver.host', 'a687cedb43ea'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

## Load data
### Spark Dataframe API

In [5]:
df_schema = T.StructType([
    T.StructField("id_1", T.StringType(), True),
    T.StructField("id_2", T.StringType(), True),
    T.StructField("cmp_fname_c1", T.DoubleType(), True),
    T.StructField("cmp_fname_c2", T.DoubleType(), True),
    T.StructField("cmp_lname_c1", T.DoubleType(), True),
    T.StructField("cmp_lname_c2", T.DoubleType(), True),
    T.StructField("cmp_sex", T.ShortType(), True),
    T.StructField("cmp_bd", T.ShortType(), True),
    T.StructField("cmp_bm", T.ShortType(), True),
    T.StructField("cmp_by", T.ShortType(), True),
    T.StructField("cmp_plz", T.ShortType(), True),
    T.StructField("is_match", T.BooleanType(), True)
])

In [6]:
%time (\
    spark\
    .read.format("csv")\
    .option("header", True)\
    .option("nullValue", "?")\
    .option("inferSchema", True)\
    .schema(df_schema)\
    .load("/home/jovyan/work/data/ch02")\
).show()

spark_df = (
    spark
    .read.format("csv")
    .option("header", True)
    .option("nullValue", "?")
    .schema(df_schema)
    .load("/home/jovyan/work/data/ch02")
)

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| 3148| 8326|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|14055|94934|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|33948|34740|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|  946|71870|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|64880|71676|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|25739|45991|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|62415|93584|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|27995|31399|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
| 4909|12238|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|15161|16743|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|31703|37310|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|30213|36558|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|56596|56630|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|16481|21174|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|32649|37094|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|34268|37260|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|66117|69253|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
| 2771|31982|         1.0|        null|         1.0|        null|      0|     1|     1|     1|      1|    true|
|23557|29673|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|37156|39557|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

CPU times: user 4.21 ms, sys: 139 Âµs, total: 4.35 ms
Wall time: 3.26 s

In [7]:
spark_df.printSchema()

root
 |-- id_1: string (nullable = true)
 |-- id_2: string (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: short (nullable = true)
 |-- cmp_bd: short (nullable = true)
 |-- cmp_bm: short (nullable = true)
 |-- cmp_by: short (nullable = true)
 |-- cmp_plz: short (nullable = true)
 |-- is_match: boolean (nullable = true)

### Pandas Dataframe

In [8]:
import pandas as pd
import numpy as np

file_path = "/home/jovyan/work/data/ch02"
files = Path(file_path).glob("b*.csv")
%time pandas_df = pd.concat([pd.read_csv(f, header='infer') for f in files])
%time pandas_df = pandas_df.replace({"?":None})

CPU times: user 5.53 s, sys: 635 ms, total: 6.17 s
Wall time: 6.17 s
CPU times: user 9.51 s, sys: 1.46 s, total: 11 s
Wall time: 11 s

In [9]:
pandas_df["id_1"] = pandas_df["id_1"].astype(np.int64, errors="ignore")
pandas_df["id_2"] = pandas_df["id_2"].astype(np.int64, errors="ignore")
pandas_df["cmp_fname_c1"] = pandas_df["cmp_fname_c1"].astype(np.float64, errors="ignore")
pandas_df["cmp_fname_c2"] = pandas_df["cmp_fname_c2"].astype(np.float64, errors="ignore")
pandas_df["cmp_lname_c1"] = pandas_df["cmp_lname_c1"].astype(np.float64, errors="ignore")
pandas_df["cmp_lname_c2"] = pandas_df["cmp_lname_c2"].astype(np.float64, errors="ignore")
pandas_df["cmp_sex"] = pandas_df["cmp_sex"].astype(np.int64, errors="ignore")
pandas_df["cmp_bd"] = pandas_df["cmp_bd"].astype(np.int64, errors="ignore")
pandas_df["cmp_by"] = pandas_df["cmp_by"].astype(np.int64, errors="ignore")
pandas_df["cmp_plz"] = pandas_df["cmp_plz"].astype(np.int64, errors="ignore")
pandas_df["is_match"] = pandas_df["is_match"].astype(np.bool, errors="ignore")

In [10]:
info = {}
info.update({"name" : pandas_df.columns})
info.update({"type" : pandas_df.dtypes})
info.update({"null_cnt" : [sum(pandas_df[col].isnull()) for col in pandas_df.columns]})

In [11]:
pd.DataFrame(info)

                      name     type  null_cnt
id_1                  id_1    int64         0
id_2                  id_2    int64         0
cmp_fname_c1  cmp_fname_c1  float64      1007
cmp_fname_c2  cmp_fname_c2  float64   5645434
cmp_lname_c1  cmp_lname_c1  float64         0
cmp_lname_c2  cmp_lname_c2  float64   5746668
cmp_sex            cmp_sex    int64         0
cmp_bd              cmp_bd   object       795
cmp_bm              cmp_bm   object       795
cmp_by              cmp_by   object       795
cmp_plz            cmp_plz   object     12843
is_match          is_match     bool         0

### Using a cache
* ì ì¥ ë ë²¨ 
    * StorageLevel.MEMORY
    * StorageLevel.MEMORY_SER
    * StorageLevel.MEMORY_AND_DISK
    * StorageLevel.MEMORY_AND_DISK_SER

## Transformation
### ë¤ìí ì§ê³í¨ì

In [12]:
spark_df.rdd.map(lambda x:x["is_match"]).countByValue()

defaultdict(int, {True: 20931, False: 5728201, None: 81})

In [13]:
(
    spark_df.groupBy("is_match")
    .count()
    .orderBy(F.col("count").desc())
).show()

+--------+-------+
|is_match|  count|
+--------+-------+
|   false|5728201|
|    true|  20931|
|    null|     81|
+--------+-------+

In [14]:
(
    spark_df.groupBy("is_match")
    .agg(
        F.count(F.col("is_match")).alias("COUNT"),
        F.countDistinct(F.col("is_match")).alias("DIST_COUNT"),
        F.sum(F.when((F.col("is_match") == "true"), 1).otherwise(0)).alias("TRUE_CNT"),
        F.sum(F.when((F.col("is_match") == "false"), 1).otherwise(0)).alias("FALSE_CNT"),
    )
).show()

+--------+-------+----------+--------+---------+
|is_match|  COUNT|DIST_COUNT|TRUE_CNT|FALSE_CNT|
+--------+-------+----------+--------+---------+
|    null|      0|         0|       0|        0|
|    true|  20931|         1|   20931|        0|
|   false|5728201|         1|       0|  5728201|
+--------+-------+----------+--------+---------+

### ìì½ íµê³

In [15]:
summary = spark_df.describe()

In [16]:
spark_df.where(F.col("is_match") == "true").describe().show()
spark_df.where(F.col("is_match") == "false").describe().show()

matched_summary = spark_df.where(F.col("is_match") == "true").describe()
miss_summary = spark_df.where(F.col("is_match") == "false").describe()

+-------+-----------------+-----------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|summary|             id_1|             id_2|       cmp_fname_c1|       cmp_fname_c2|        cmp_lname_c1|       cmp_lname_c2|            cmp_sex|             cmp_bd|              cmp_bm|             cmp_by|            cmp_plz|
+-------+-----------------+-----------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|  count|            20931|            20931|              20922|               1333|               20931|                475|              20931|              20925|               20925|              20925|              20902|
|   mean|34575.72117911232|51259.95939037791| 0.9973163859635038| 0.9898900320318176|  0.9970152595958817|  0.969370167843852|  0.987291577086618| 0.9970848267622461|  0.9979450418160095| 0.9961290322580645| 0.9584250310975027|
| stddev|21950.31285196913|24345.73345377519|0.03650667584833679|0.08251973727615237|0.043118807533945126|0.15345280740388917|0.11201570591216435|0.05391487659807981|0.045286127452170664|0.06209804856731055|0.19962063345931919|
|    min|            10001|            10010|                0.0|                0.0|                 0.0|                0.0|                  0|                  0|                   0|                  0|                  0|
|    max|            99946|            99996|                1.0|                1.0|                 1.0|                1.0|                  1|                  1|                   1|                  1|                  1|
+-------+-----------------+-----------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+

+-------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+--------------------+
|summary|              id_1|              id_2|       cmp_fname_c1|       cmp_fname_c2|      cmp_lname_c1|       cmp_lname_c2|            cmp_sex|            cmp_bd|            cmp_bm|            cmp_by|             cmp_plz|
+-------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+--------------------+
|  count|           5728201|           5728201|            5727203|             102365|           5728201|               1989|            5728201|           5727412|           5727412|           5727412|             5715387|
|   mean|33319.913548075565| 66643.44259218557| 0.7118634802175091| 0.8988473514090158|0.3131380113364304|0.16295544855122532| 0.9548833918362851|0.2216425149788421| 0.486995347986141|0.2199230647280133|0.002043781112285135|
| stddev|23665.760130330676|23599.551728241313|0.38908060096985553|0.27272090294010215|0.3322812130572686| 0.1930236663528703|0.20755988859217375|0.4153518275558732|0.4998308940493865|0.4141943267142977|0.045161979893625206|
|    min|                 1|             10000|                0.0|                0.0|               0.0|                0.0|                  0|                 0|                 0|                 0|                   0|
|    max|              9999|             99999|                1.0|                1.0|               1.0|                1.0|                  1|                 1|                 1|                 1|                   1|
+-------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+--------------------+

### íì´ë¸ ì¶ ì í

In [17]:
metrics = summary.toPandas().iloc[:, 0]
feature_names = summary.toPandas().columns[1:]

In [18]:
agg_functions = [
    f"F.{metric}('{name}').alias('{name}_{metric}')"
    for name in feature_names
    for metric in metrics
]
agg_functions = ",".join(agg_functions)

In [19]:
agg_functions

"F.count('id_1').alias('id_1_count'),F.mean('id_1').alias('id_1_mean'),F.stddev('id_1').alias('id_1_stddev'),F.min('id_1').alias('id_1_min'),F.max('id_1').alias('id_1_max'),F.count('id_2').alias('id_2_count'),F.mean('id_2').alias('id_2_mean'),F.stddev('id_2').alias('id_2_stddev'),F.min('id_2').alias('id_2_min'),F.max('id_2').alias('id_2_max'),F.count('cmp_fname_c1').alias('cmp_fname_c1_count'),F.mean('cmp_fname_c1').alias('cmp_fname_c1_mean'),F.stddev('cmp_fname_c1').alias('cmp_fname_c1_stddev'),F.min('cmp_fname_c1').alias('cmp_fname_c1_min'),F.max('cmp_fname_c1').alias('cmp_fname_c1_max'),F.count('cmp_fname_c2').alias('cmp_fname_c2_count'),F.mean('cmp_fname_c2').alias('cmp_fname_c2_mean'),F.stddev('cmp_fname_c2').alias('cmp_fname_c2_stddev'),F.min('cmp_fname_c2').alias('cmp_fname_c2_min'),F.max('cmp_fname_c2').alias('cmp_fname_c2_max'),F.count('cmp_lname_c1').alias('cmp_lname_c1_count'),F.mean('cmp_lname_c1').alias('cmp_lname_c1_mean'),F.stddev('cmp_lname_c1').alias('cmp_lname_c1_stddev'),F.min('cmp_lname_c1').alias('cmp_lname_c1_min'),F.max('cmp_lname_c1').alias('cmp_lname_c1_max'),F.count('cmp_lname_c2').alias('cmp_lname_c2_count'),F.mean('cmp_lname_c2').alias('cmp_lname_c2_mean'),F.stddev('cmp_lname_c2').alias('cmp_lname_c2_stddev'),F.min('cmp_lname_c2').alias('cmp_lname_c2_min'),F.max('cmp_lname_c2').alias('cmp_lname_c2_max'),F.count('cmp_sex').alias('cmp_sex_count'),F.mean('cmp_sex').alias('cmp_sex_mean'),F.stddev('cmp_sex').alias('cmp_sex_stddev'),F.min('cmp_sex').alias('cmp_sex_min'),F.max('cmp_sex').alias('cmp_sex_max'),F.count('cmp_bd').alias('cmp_bd_count'),F.mean('cmp_bd').alias('cmp_bd_mean'),F.stddev('cmp_bd').alias('cmp_bd_stddev'),F.min('cmp_bd').alias('cmp_bd_min'),F.max('cmp_bd').alias('cmp_bd_max'),F.count('cmp_bm').alias('cmp_bm_count'),F.mean('cmp_bm').alias('cmp_bm_mean'),F.stddev('cmp_bm').alias('cmp_bm_stddev'),F.min('cmp_bm').alias('cmp_bm_min'),F.max('cmp_bm').alias('cmp_bm_max'),F.count('cmp_by').alias('cmp_by_count'),F.mean('cmp_by').alias('cmp_by_mean'),F.stddev('cmp_by').alias('cmp_by_stddev'),F.min('cmp_by').alias('cmp_by_min'),F.max('cmp_by').alias('cmp_by_max'),F.count('cmp_plz').alias('cmp_plz_count'),F.mean('cmp_plz').alias('cmp_plz_mean'),F.stddev('cmp_plz').alias('cmp_plz_stddev'),F.min('cmp_plz').alias('cmp_plz_min'),F.max('cmp_plz').alias('cmp_plz_max')"

In [20]:
result = eval(f"spark_df.groupBy('is_match').agg({agg_functions}).toPandas().set_index('is_match')")
resultT = result.T
resultT = resultT.reset_index()

In [21]:
# spark transposeDF ì°¸ê³ 
# def TransposeDF(df, columns, pivotCol):
#     columnsValue = list(map(lambda x: str("'") + str(x) + str("',")  + str(x), columns))
#     stackCols = ','.join(x for x in columnsValue)
#     df_1 = (
#         df
#         .selectExpr(pivotCol, "stack(" + str(len(columns)) + "," + stackCols + ")")
#         .select(pivotCol, "col0", "col1")
#     )
#     final_df = (
#         df_1.groupBy(col("col0")).pivot(pivotCol).agg(concat_ws("", collect_list(col("col1"))))
#         .withColumnRenamed("col0", pivotCol)
#     )
#     return final_df

### Selecting features

In [22]:
resultT["matrix"] = resultT["index"].apply(lambda s : s.split("_")[-1])
resultT["field"] = resultT["index"].apply(lambda s : "_".join(s.split("_")[:-1]))

In [23]:
resultT

is_match,index,NaN,True,False,matrix,field
0,id_1_count,81,20931,5728201,count,id_1
1,id_1_mean,0.000235405,34575.7,33319.9,mean,id_1
2,id_1_stddev,NaN,21950.3,23665.8,stddev,id_1
3,id_1_min,1 goal field),10001,1,min,id_1
4,id_1_max,9. Class Distribution: 20.931 matches,99946,9999,max,id_1
5,id_2_count,26,20931,5728201,count,id_2
6,id_2_mean,0.0014771,51260,66643.4,mean,id_2
7,id_2_stddev,NaN,24345.7,23599.6,stddev,id_2
8,id_2_min,2 non-predictive,10010,10000,min,id_2
9,id_2_max,0.00147710487444609,99996,99999,max,id_2
10,cmp_fname_c1_count,1,20922,5727203,count,cmp_fname_c1
11,cmp_fname_c1_mean,2.68694e-05,0.997316,0.711863,mean,cmp_fname_c1
12,cmp_fname_c1_stddev,NaN,0.0365067,0.389081,stddev,cmp_fname_c1
13,cmp_fname_c1_min,2.68694e-05,0,0,min,cmp_fname_c1
14,cmp_fname_c1_max,2.68694e-05,1,1,max,cmp_fname_c1
15,cmp_fname_c2_count,1,1333,102365,count,cmp_fname_c2
16,cmp_fname_c2_mean,0.000641026,0.98989,0.898847,mean,cmp_fname_c2
17,cmp_fname_c2_stddev,NaN,0.0825197,0.272721,stddev,cmp_fname_c2
18,cmp_fname_c2_min,0.000641026,0,0,min,cmp_fname_c2
19,cmp_fname_c2_max,0.000641026,1,1,max,cmp_fname_c2
20,cmp_lname_c1_count,1,20931,5728201,count,cmp_lname_c1
21,cmp_lname_c1_mean,0.5,0.997015,0.313138,mean,cmp_lname_c1
22,cmp_lname_c1_stddev,NaN,0.0431188,0.332281,stddev,cmp_lname_c1
23,cmp_lname_c1_min,0.5,0,0,min,cmp_lname_c1
24,cmp_lname_c1_max,0.5,1,1,max,cmp_lname_c1
25,cmp_lname_c2_count,1,475,1989,count,cmp_lname_c2
26,cmp_lname_c2_mean,0.0322581,0.96937,0.162955,mean,cmp_lname_c2
27,cmp_lname_c2_stddev,NaN,0.153453,0.193024,stddev,cmp_lname_c2
28,cmp_lname_c2_min,0.0322581,0,0,min,cmp_lname_c2
29,cmp_lname_c2_max,0.0322581,1,1,max,cmp_lname_c2
30,cmp_sex_count,0,20931,5728201,count,cmp_sex
31,cmp_sex_mean,NaN,0.987292,0.954883,mean,cmp_sex
32,cmp_sex_stddev,NaN,0.112016,0.20756,stddev,cmp_sex
33,cmp_sex_min,NaN,0,0,min,cmp_sex
34,cmp_sex_max,NaN,1,1,max,cmp_sex
35,cmp_bd_count,0,20925,5727412,count,cmp_bd
36,cmp_bd_mean,NaN,0.997085,0.221643,mean,cmp_bd
37,cmp_bd_stddev,NaN,0.0539149,0.415352,stddev,cmp_bd
38,cmp_bd_min,NaN,0,0,min,cmp_bd
39,cmp_bd_max,NaN,1,1,max,cmp_bd
40,cmp_bm_count,0,20925,5727412,count,cmp_bm
41,cmp_bm_mean,NaN,0.997945,0.486995,mean,cmp_bm
42,cmp_bm_stddev,NaN,0.0452861,0.499831,stddev,cmp_bm
43,cmp_bm_min,NaN,0,0,min,cmp_bm
44,cmp_bm_max,NaN,1,1,max,cmp_bm
45,cmp_by_count,0,20925,5727412,count,cmp_by
46,cmp_by_mean,NaN,0.996129,0.219923,mean,cmp_by
47,cmp_by_stddev,NaN,0.062098,0.414194,stddev,cmp_by
48,cmp_by_min,NaN,0,0,min,cmp_by
49,cmp_by_max,NaN,1,1,max,cmp_by
50,cmp_plz_count,0,20902,5715387,count,cmp_plz
51,cmp_plz_mean,NaN,0.958425,0.00204378,mean,cmp_plz
52,cmp_plz_stddev,NaN,0.199621,0.045162,stddev,cmp_plz
53,cmp_plz_min,NaN,0,0,min,cmp_plz
54,cmp_plz_max,NaN,1,1,max,cmp_plz